@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#root {
  margin: 4rem;
}

#root,
#healthcheck-root {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

:root {
  font-family: Inter;
  font-size: 16px;
}

.title {
  display: flex;
  align-items: baseline;
}

.title > div {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .title {
    flex-direction: column;
    align-items: flex-start;
  }

  .server-is.server-is {
    padding-inline-start: 0;
  }
}

.server-is {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  padding-inline: 0.75rem;
}

.not-ready {
  border-radius: 3px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: #ff0c29;
  color: #ffffff;
  line-height: 21px;
  text-align: center;
  font-weight: 500;
  font-style: Bold;
  font-size: 14px;
  letter-spacing: -4%;
  align-self: first baseline;
}

.card {
  padding-block: 30px;
  padding-inline: 34px;
  border-radius: 5px;
  border: 1px solid #e5e8e7;
}

.card-body {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .card-body {
    flex-direction: column;
  }
}

.healthcheck-title {
  font-size: 23px;
  line-height: 50px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.button {
  cursor: pointer;
  border-radius: 10px;
  border-width: 1px;
  padding-block: 3px;
  padding-inline: 27px;
  border: 1px solid;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  min-width: 262px;
}

#btn-export {
  border-color: #006bb4;
}

#btn-run-failed-critical-checks {
  border-color: #ff0c29;
  color: #ff0c29;
}
